
.login-back {
	background: #FFFFFF;
	background: url("../img/bwInterior1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-box-translucent {
	border-radius: 8px;
	background: rgba(255,255,255,0.34);
	border: 3px solid rgba(255,255,255,0.59);
}

.login-box .toolbar,
.signup-box .toolbar {
	background: #444;
	border-top: 2px solid #545151;
}

.login-layout .widget-box {
	background-color: rgba(50,50,50,0.1);
}

.login-box .forgot-password-link {
	color: #fff;
}

.login-box .user-signup-link,
.signup-box .back-to-login-link {
	color: #8AD5F7;
}

.brand-container {
	margin-top: 50px;
}

.center {
	margin: 0 auto;
}

.cleaner-signup-prompt {
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	font-size: 1.5rem;
	text-align: center;
}


@media (max-width: 768px) {
	.user-signup-link,
	.forgot-password-link,
	.login-layout .widget-box .widget-body .toolbar>div>a {
		font-size: 12px;
	}
	.login-box .toolbar,
	.signup-box .toolbar {
		padding-right: 10px;
	}
}


















